@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-size: cover;
}

header {
    padding-top: 1px;
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 4.5vw;
    color: white;
}

h2 {
    margin-top: 5px;
    text-align: center;
}

p {
    margin: 15px;
}

#aboutme {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#aboutme img {
    max-width: 35%;
    height: auto;
    border-radius: 50%;
    margin: 10px auto;
    flex-basis: 100%;
    position: relative;
    top: 8px
}

#aboutme p {
    color: #008080;
    -webkit-text-stroke: 1px white;
    text-align: center;
    font-size: 30px;
    font-family: Koulen, sans-serif;
    flex-basis: 100%;
    margin: 0;
}

#gallery {
    display: flex;
    width: 90%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    margin: 10px;
    max-width: 100%;
    height: auto;
    flex-basis: 100%;
    display: block;
    align-self: center;
}

.all_links {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.links {
    margin: 10px auto;
    max-width: 400px;
    border: 3px solid #000;
    border-radius: 20px;
    flex: 0 0 100%
}

.links p {
    display: flex;
    margin: 0;
    font-weight: bold;
}

.links p a {
    border-radius: 20px;
    flex: 0 0 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

h3 {
    background-color: #72d6ee;
    color: white;
    text-align: center;
    padding-top: 3px;
    position: relative;
    bottom: -5px;
}

#links {
    background-color: #72d6ee;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#links p a {
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: 1s;
}

#links p a:hover {
    background-color: #2da0f9;
}

#copyright {
    background-color: #72d6ee;
    margin: 0;
    padding-bottom: 2px;
    text-align: center;
    color: white;
}

@media screen and (min-width:600px) {
    #aboutme img {
        max-width: 25%;
    }

    #gallery img {
        flex-basis: 50%;
        max-width: 45%;
        height: auto;
        transition: 1s;
    }

    #gallery img:hover {
        transform: scale(1.065);
    }
}

@media screen and (min-width:1100px) {
    #aboutme img {
        max-width: 15%;
    }

    #gallery img {
        flex-basis: 33%;
        max-width: 30%;
        height: auto;
    }
}
